@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010f0b;
    --foreground: #ededed;
    --primary: #7af2d3;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Literata;
}

h2 {
  @apply text-xl font-semibold mb-4;
}

button {
  @apply rounded px-4 py-2;
}

a {
  @apply flex items-center gap-2 hover:underline hover:underline-offset-4;
}
